.ArticlePlate {
  display: flex;

  .Thumb {
    & img {
      width: 300px;
      border-radius: 4px;
    }
  }

  .Content {
    margin-left: 1rem;

    .Title {
      font-size: 2rem;
      font-weight: 600;

      max-width: 40rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;

      & a {
        text-decoration: none;
        color: inherit;
      }
    }

    .Body {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      white-space: pre-wrap;
    }

    .Actions {
      margin-top: 1rem;
    }
  }
}
